!!! 5

html
  head
    meta(charset='uft-8')
    title Intorduction to Node.js | SOA University | Aaron Kor

    //stylesheets
    link(rel='stylesheet', href='media/css/font.css')
    link(rel='stylesheet', href='media/css/default.css')
    link(rel='stylesheet', href='media/highlight/styles/sunburst.css')

  body
    //impress
    div(id='impress', class='impress-not-supported')
      div(id='fm1', class='fallback-message hidden')
        p Your browser does not support the features required by impress.js

      div(id='fm1', class='fallback-message')
        p Your browser's fine, but somehting is wrong

      div(id='introduction', class='step')
        h2 Introduction to
        br
        h1
          strong node.js
        div(id='node-logo')
        p(class='footer')
          | Aaron Kor

      div(id='nodejs-is', class='step')
        h2 Node.js is
        ul
          li Server-side JavaScript
          li Mainly for network oriented applications
          li Built on top of Google V8 engine
          li CommonJS support
          li
            strong Event-driven, non blocking I/O

      div(id='io-expensive', class='step')
        h2 The I/O is expensive
        img(id='io', class='centered', src='media/img/io-cost.png', alt='The cost of I/O')

      div(id='deal', class='step')
        center
          h3 How to deal with it?
        ol(class='center')
          li Synchronous
          li Process forking
          li Multi-threaded

      div(id='rocky-vs-drago', class='step')
        center
          h3 Yay! Multi-threading!
          br
          img(id='rocky', class='centered', src='media/img/Rocky-vs-Drago.jpg', alt='Rocky vs Drago')
          br
          strong Apache vs Nginx
      
      div(id='graphs', class='step')
        center
          img(src="media/img/nginx-apache-reqs-sec.png", "Apache vs Nginx - Requests per second")
          br
          img(src="media/img/nginx-apache-memory.png", "Apache vs Nginx - Memory")
          br
          p (No mo graphs, me promise...)

      div(id='difference', class='step')
        h2 The difference?
        center
          p
            b Apache
            &nbsp;- uses thread per connection
          p
            b Nginx
            &nbsp;- uses event loop

      div(id='threads-wrong', class='step')
        center
          h3 So, what's wrong with threads?
        ul
          li Context switching is not free
          li Execution stacks take up memory
          li Therading concurrency is a leaky

      div(id='in-node', class='step')
        h2 In node.js
        center
          h3 everything runs in parallel
          h3(id='except')
            | EXCEPT YOUR CODE

      div(id='king', class='step')
        p [king image]

      div(id='conventional-query', class='step')
        p A conventional code
        pre
          code
            | var result = db.query("select ...");
            br
            | // use result

      div(id='node-query', class='step')
        p will be written in node as
        pre
          code
            | db.query("select ...", function (result) {
            |   // use result
            | });

      div(id='timeout-example', class='step')
        p For example
        pre
          code
            | setTimeout( function () {
            |   console.log("node");
            | }, 3000);
            | console.log("hello");
        p will yield
        
        pre
          code
            | hello
            | node [after 3 secs]

      div(id='write-code', class='step')
        h1 Shall we write some code?

      div(id='npm', class='step')
        center
          h3 The 
            b NPM 
            i (node package manager)
        ul
          li Manages third parties for the project
          li Uses 
            b package.json 
            | for dependencies
        pre
          code
            | {
            |     "name": "application-name"
            |   , "version": "0.0.1"
            |   , "private": true
            |   , "dependencies": {
            |       "express": "2.5.4"
            |     , "jade": ">= 0.0.1"
            |   }
            | }

      div(id='packages', class='step')
        h2 Some popular packages
        ul
          li express
          li socket.io
          li jade, stylus
          li couchdb, redis
          li node_pcap
          li and hundreds more...

      div(id='sum-up', class='step')
        center
          h2 To sum it up
        br
        img(id='ryah-tweet', class='centered', src='media/img/ryah-tweet.png', alt='Ryan Dahl tweet');

      div(id='thanks', class='step')
        h2 Thanks.
        center
          br
          p presentation available at
          a(href='http://www.github.com/aaronkor/presentation')
            | http://www.github.com/aaronkor/presentation
          p(class='footer')
            | Aaron Kor

      //overview
      div(id='overview', class='step', data-x='2800', data-y='1400', data-scale='8')


      //javascripts
      script(src='media/highlight/highlight.pack.js')
      script(src='media/js/impress.js')
      script(src='media/js/default.js')

