!!! 5
html(lang="en")
  head
    title Node.JS Presentation | Slides
    link(rel='stylesheet', type='text/css', href='media/css/prettify.css')
    link(rel='stylesheet', type='text/css', href='media/css/presentation.css')
    script(type='text/javascript', src='media/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='media/js/fathom.min.js')
    script(type='text/javascript', src='media/js/prettify.js')
    script
      $(document).ready(function() {
        
        $('pre').addClass('prettyprint').attr('tabIndex', 0);
        prettyPrint();

        var fathom = new Fathom('#presentation');
      });
  body
    div(id="presentation")

      div(class="slide")
        // Start
        h1(id="prelogo")
          | Introduction to
        h1(id="logo")
          | Node.JS
        br
        h2(id="author")
          | by Aaron Kor

      // Page 1
      div(class="slide")
        h1 Node.JS&nbsp;&nbsp;is:
        ul
          li Server-Side JavaScript
          li Mainly for Network Oriented Applications
          li Built on Google's V8 Engine
          li CommonJS Support
          li 
            strong Event-Driven, Non-Blocking I/O

      //Page 2
      div(class="slide")
        h1 The I/O Is Expensive
          br
          br
          br
          img(src="media/img/io-cost.png", alt="The cost of I/O")

      //Page 3
      div(class="slide")
        h1 Dealing With The Performance Impact
          ul
            li Synchronous
            li Process forking
            li Multi-threaded

      //Page 4
      div(class="slide")
        


      div(class="slide")
        //Page 1 - Intro
        h1 Intro...
        pre &lt;a&gt;hi&lt;/a&gt;

      div(class="slide")
        q ?
        h2(id="thanks")
          | Thanks, <br/> Aaron

        
