!!! 5
html(lang="en")
  head
    title Node.JS Presentation | Slides
    link(rel='stylesheet', type='text/css', href='media/css/prettify.css')
    link(rel='stylesheet', type='text/css', href='media/css/presentation.css')
    script(type='text/javascript', src='media/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='media/js/fathom.min.js')
    script(type='text/javascript', src='media/js/prettify.js')
    script
      $(document).ready(function() {
        var fathom = new Fathom('#presentation');
      });
  body
    div(id="presentation")

      div(class="slide")
        h1 Introduction to 
        img(src="media/img/Nodejs_logo_light.png", alt="Node.JS")
      
      div(class="slide")
        h2 Bye...
        p bye bye
      
      div(class="slide")
        
