!!! 5
html
  head
    meta(charset='uft-8')
    title Intorduction to Node.js | SOA University | Aaron Kor

    //stylesheets
    link(rel='stylesheet', href='media/css/font.css')
    link(rel='stylesheet', href='media/css/default.css')
    link(rel='stylesheet', href='media/highlight/styles/sunburst.css')
  body
    //impress
    div(id='impress', class='impress-not-supported')
      div(id='fm1', class='fallback-message hidden')
        p Your browser does not support the features required by impress.js


    //javascripts
    script(src='media/highlight/highlight.pack.js')
    script(src='media/js/impress.js')
    script(src='media/js/default.js')
